

<div>

  <table>

    <tr>
      <th>id</th>
      <th>name</th>
      <th>username</th>
      <th>email</th>

    </tr>

    <tr *ngFor="let user of users; index as index">
      <td>
        {{ user.id }}
      </td>
      <td>{{ user.username }}</td>
      <td>
        <app-editable (update)="updated(index, 'name')">
          <ng-template appViewMode>{{ user.name }}</ng-template>
          <ng-template appEditMode>
            <mat-form-field>
              <input matInput [formControl]="getControl(index, 'name')">
            </mat-form-field>
          </ng-template>

        </app-editable>

      </td>
      <td>
        <app-editable (update)="updated(index, 'email')">
          <ng-template appViewMode>{{ user.email }}</ng-template>
          <ng-template appEditMode>
            <input [formControl]="getControl(index, 'email')">
          </ng-template>

        </app-editable>

      </td>

    </tr>


  </table>


</div>
